p {
    font-size: 0.85
}

/* Legend Font Style */
body {
	font: 11px sans-serif;
}

text {
    margin-bottom: 50px;
}
        
/* Legend Position Style */
.legend {
	position: absolute;
	left: 1000px;
	top: 200px;
}

.radio{
	text-align: center;
}

.row{
	text-align: center;
}

.district {
}

#bar-chart {
    margin-bottom: 50px;
}

.bar {
}
  
.bar:hover {
    fill: brown;
}

.axis--x path {
    display: none;
}


.district:hover {
    fill-opacity: .7;
}

.hidden {
    display: none;
}

.selected {
    fill-opacity: .7;
}

#mapid { 
    width: 1080px; 
    height: 680px;
    margin-bottom: 50px;
}   

div.tooltip {
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    
    border-radius: 3px; 
    box-shadow: 0px 0px 2px 0px #a6a6a6; 
    padding: .2em; 
    text-shadow: #f5f5f5 0 1px 0;
    opacity: 0.9; 
    position: absolute;
}
/*
* {
    padding: 0;
    margin: 0;
    font-family:'Roboto';
}

#fullpage {
    height: 100vh;
    overflow: hidden;
    text-align: center;
    font-size: 1em;
    color:#fff;
}

#fullpage section { height: 100vh; }
#fullpage section:nth-child(1) { background-color: rgb(48, 105, 77); }
#fullpage section:nth-child(2) { background-color: rgb(89, 66, 104); }
#fullpage section:nth-child(3) { background-color: rgb(54, 70, 93); }
#fullpage section:nth-child(4) { background-color: rgb(141, 87, 26); }
#fullpage section:nth-child(5) { background-color: rgb(62, 43, 77); }
#fullpage section:nth-child(6) { background-color: rgb(86, 99, 40); }
*/